<div id="container">
  <div id="toolbar"><a href="/">home</a>
    <% if @current_user %>
      <a href="/logout">logout</a>
    <% end %>
  </div>
  <div id="header">
    <h2><%= @current_user.name %></h2>
    <img id="<%= @current_user.id %>" class="avatar <%= @current_user.status %>" />
  </div>
  <div id="flag-container">
    <ul>
      <% @users.each do |user| %>
        <% if user.id != @current_user.id %>
        <li id="<%= user.id %>" class="<%= user.status %>">
          <img src="<%= user.image_url %>" alt="user image">
          <%= user.name %>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
